@import "./login.css";
@import "./dashboard.css";
@import "./history.css";
@import "./transfer.css";
@import "./topup.css";
@import "./profile.css";

@font-face{
    font-family: 'AirbnbCereal App Black';
    src: url('../font/AirbnbCereal-Black.ttf');
}
@font-face{
    font-family: 'AirbnbCereal App Bold';
    src: url('../font/AirbnbCereal-Bold.ttf')
}
@font-face{
    font-family: 'AirbnbCereal App Book';
    src: url('../font/AirbnbCereal-Book.ttf')
}
@font-face{
    font-family: 'AirbnbCereal App Extrabold';
    src: url('../font/AirbnbCereal-ExtraBold.ttf')
}
@font-face{
    font-family: 'Airbnb App Light';
    src: url('../font/AirbnbCereal-Light.ttf')
}
@font-face{
    font-family: 'AirbnbCereal App Medium';
    src: url('../font/AirbnbCereal-Medium.ttf')
}
@font-face{
    font-family: 'Opensans';
    src: url('../font/OpenSans-Light.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container{
    display: flex;
    align-items: flex-start;
    font-family: Nunito Sans;
    width: 100%;
    height: 100%;
}

.blue img, .blue {
    filter: invert(39%) sepia(75%) saturate(1433%) hue-rotate(215deg) brightness(100%) contrast(92%);
}